
    .cls-head{
        background: #fff;
        font-size: 22px;
        font-weight: 500;
        font-style: italic;
        padding: 5px 50px;
        margin: 0 -15px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        img{
            height:60px;
            margin-right: 10px;
        }
    }