<div class="cls-alert-container">
    <span  class="cls-background"></span>
    <div class="cls-popup">
        <div  class="cls-head pt-2">
            <h5>Change status</h5>
        </div>
        <div  class="text-center cls-mgs my-4">
            Do you want to change the status?
        </div>
        <div class="text-center cls-btns mt-3 mb-4">
            <button type="button" class="btn btn-info" (click)="changeStatus(true)">Yes</button>
            <button type="button" class="btn btn-light ml-3" (click)="changeStatus(false)">No</button>
        </div>
    </div>
</div>