<div class="cls-orders">
    <div class="container mt-3">
        <h4 class="my-4">View Order</h4>
        <div class="row" *ngIf="orderVal.id">
            <div class="col-sm-8"><a routerLink="/orders" class="cls-link">Back To Orders</a>
                <div class="cls-order-details">
                    <div class="cls-order-info">
                        <span class="cls-order-id">Order Id : {{orderVal.id}}</span>
                        <span class="cls-status {{orderVal.status}}">{{getStatus(orderVal.status)}}</span>
                        <span class="cls-head">{{orderVal.created_date | date:'d, MMM yyyy'}}</span>
                    </div>
                    <div class="cls-header">
                        <span>Description</span>
                        <span>Quantity</span>
                        <span>Unit Price</span>
                        <span>Amount</span>
                    </div>
                    <div class="cls-body">
                        <div *ngFor="let item of orderVal.items" class="my-2">
                            <span>
                                {{item.name}}
                                <span class="cls-desc">
                                    {{item.description}}
                                </span>
                            </span>
                            <span>{{item.quantity}}</span>
                            <span><em class="fa fa-inr"></em> {{item.unit_price}}</span>
                            <span><em class="fa fa-inr"></em> {{item.quantity * item.unit_price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cls-summary">
                    <h4 class="mt-0">Address</h4>
                    <div class="cls-card">
                        <span class="cls-head">Name </span>
                        <span class="cls-desc">{{orderVal.customer_details.name}} </span>
                        <span class="cls-head">Address  </span>
                        <span class="cls-desc">{{orderVal.customer_details.address}}</span>
                        <span class="cls-head">Phone </span>
                        <span class="cls-desc">{{orderVal.customer_details.country_code}} {{orderVal.customer_details.contact_number}}</span>
                    </div>
                    <h4>Price Details</h4>
                    <div class="cls-card cls-price">
                        <span class="cls-head">Sub Total</span>
                        <span class="cls-desc">{{orderVal.sub_total | number : '1.2-2'}} </span>
                        <span class="cls-head">GST </span>
                        <span class="cls-desc">{{orderVal.gst | number : '1.2-2'}}</span>
                        <span class="cls-head">Discount </span>
                        <span class="cls-desc">{{(orderVal.discount | number : '1.2-2') || '--'}}</span>
                        <span class="cls-head">Delivery Charges</span>
                        <span class="cls-desc">{{(orderVal.delivery_charges | number : '1.2-2') || '--'}}</span>
                        <div class="cls-total">
                            <span class="cls-head">Grand Total </span>
                            <span class="cls-desc"><em class="fa fa-inr"></em> {{(orderVal.grand_total | number : '1.2-2')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
